body {
    background-color: #FDF3E7;
}

#sqlBox {
    margin-top: 5px;
    width: 500px;
    height: 325px;
    border: 1px solid blue;
    position: relative;
    left: 30%;
    top:   75%;
    
}

#buttonDiv
{
    position: relative;
    padding: 5px 20px 20px 10px;
    margin-left: 465px; 
}

#LoginDiv {
    background-color: white;
    border: 1px solid;
    position: relative;
    height: 300px;
    width: 400px;
    position: absolute;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px 20px 20px 20px;
}

#tableDiv {
    padding: 10px 20px 20px 20px;
    width: 1000px;
}

table, th, td 
{
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

table
{
    border-collapse: collapse;
}

#sqlReturn 
{
    
}

